(common_proxy) {
    encode zstd gzip

    log {
        output stdout
        format json
    }

    request_body {
        max_size 10MB
    }
}

readinggarden.duckdns.org {
    import common_proxy
    import /etc/caddy/routes/prod-upstream.caddy
}

readinggarden-dev.duckdns.org {
    import common_proxy
    import /etc/caddy/routes/dev-upstream.caddy
}
